---
name: Galcon test
on:
    workflow_dispatch:
        inputs:
            url:
                description: 'URL to run tests on'
                required: true
                default: 'https://www.kan.org.il'
jobs:
    cypress-run:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v3 # Install NPM dependencies, cache them correctly
            - name: Cypress running Galcon test
              uses: cypress-io/github-action@v5
              with:
                  browser: chrome
                  #wait-on: ${{ github.event.inputs.url }}
                  
